
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
;


*, *::after, *::before{
    box-sizing: border-box;
}
:root{
    
/* ### Primary */

--Red: hsl(0, 100%, 74%) ;
--Green: hsl(154, 59%, 51%);

/* ### Accent */

--Blue: hsl(248, 32%, 49%);
/* 
### Neutral */

--DarkBlue: hsl(249, 10%, 26%) ;
--GrayishBlue: hsl(246, 25%, 77%);
--par-font-size: 16px;

}

body{
    
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-intro-desktop.png);
    background-color: pink;
    font-family: "Poppins", sans-serif;
}

.flex-2{
    display: flex;
}

.container{
    display: flex;
    justify-content: space-evenly;
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }


.days{
    background-color: var(--Blue);
    text-align: center;
    padding: 15px 0;
    color: white;
    width: auto;
}

  b{
    color: var(--Red);
  }
 form{
    padding: 20px ;
    margin: 20px;
 }
.form-section{
    background-color:  aliceblue;
}

p{
    width: 30rem;
    color: white;
}

label, input , button{
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    padding-inline-start: 10px;
    font-size: var(--par-font-size);
    border-radius: 6px;
    border: 1px solid ;
    }


    button{
       
        color: white;
        background-color: var(--Green);
    }

h1{
    font-size: 4rem;
    width: 30rem;
    color: white;
    align-content: center;
}


@media screen and (max-width:500px) {
 .container{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 470px;
    margin: 0 auto;
 }


 h1{
    font-size: 40px;
    padding-top: 60px;
    
 }
    
}

@media screen and (max-width:400px){

}